body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(193, 220, 255);
    position: relative;
    width:100%;
}

#rock {
    width: 900px;
    height: 500px;
    background: white;
    padding: 20px;
    border: 4px double #cdcdcd;
}

html, body {
    overflow-x: hidden;
  }

a {
    color: blue;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: white;
    background: black;
    padding: 2px;
    border: 2px solid #cdcdcd;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}